{% extends 'base.html' %}
{% block content %}

<div style="color: white;">
    <h1>{{ product.name }}</h1>
    <div>{{ product.description }}</div>
    <div>Цена: {{ product.price }} сом</div>
    <div>Осталось: {{ product.qty }}</div>
    <div>{{ product.category.name }}, {{ product.category.description }}</div>
    <div>Просмотров: {{ product.views_qty }}</div>
    <div>Уникальные просмотры: {{ product.customer_views.count }}</div>
    <img class = 'card-img-top' src = 'https://e-cdn-images.dzcdn.net/images/artist/dc0e7267320bcbea44e786cc29d42f97/500x500-000000-80-0-0.jpg' style="width: auto; height: 200px;">
</div>

{% endblock %}



