{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<h1 class = 'product'>Users:</h1>
{% for user in users %}
<div class = 'cards row row-cols-2 g-1 col-lg-3'>
    <div class = 'card mb-sm-3 col-sm-3' style = 'width: 14rem;'>
        <div class = 'card-body'>
            <img class = 'card-img-top' src = 'https://e-cdn-images.dzcdn.net/images/artist/dc0e7267320bcbea44e786cc29d42f97/500x500-000000-80-0-0.jpg'>
            <p class = 'card-text'></p>
            <a href = 'user/{{ user.id }}/' class = 'btn btn-primary'>{{ user.username }}</a>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}


